[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/Yihy/hugo-minimalist-theme.git
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo
[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
